<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品列表</title>
	<link rel="stylesheet" href="../public/stylesheets/style.css" />
</head>
<body>
	<div class="right_box">
			<h1>
				<span class="action_span1"><a href="javascript:;">ECSHOP 管理中心</a></span>
				<span class="action_span1">- 添加新商品</span>
				<span class="help_sub"><a href="javascript:;"><img src="../public/images/jnsy.png" alt=""></a></span>
				<span class="action_span"><a href="javascript:;">商品列表</a></span>
			</h1>
			<div class="content">
				<div class="tab_div">
					<p>
						<img src="../public/images/icon_search.gif" alt="">
						<select name="" id="">
							<option value="">所有分类</option>
						</select>
						<select name="" id="">
							<option value="">所有品牌</option>
						</select>
						<select name="" id="">
							<option value="">全部</option>
						</select>
						<select name="" id="">
							<option value="">全部</option>
						</select>
						关键字
						<input type="text" size="15">
						<input type="submit" class="button" value="搜索">
					</p>
				</div>
				<table cellpadding="3" cellspacing="1" class="goods_ul" >
					<tbody>
						<tr>
							<th>
								<input type="checkbox">
								编号
								<img src="../public/images/sort_desc.gif" alt="">
							</th>
							<th>商品名称</th>
							<th>货号</th>
							<th>价格</th>
							<th>上架</th>
							<th>精品</th>
							<th>新品</th>
							<th>热销</th>
							<th>推荐排序</th>
							<th>库存</th>
							<th>虚拟销量</th>
							<th>操作</th>
							
						</tr>
						<tr>
							<td>
								<input type="checkbox">
								256
							</td>
							<td>something</td>
							<td>E123</td>
							<td>0.00</td>
							<td><img src="../public/images/yes.gif" alt=""></td>
							<td><img src="../public/images/no.gif" alt=""></td>
							<td><img src="../public/images/yes.gif" alt=""></td>
							<td><img src="../public/images/no.gif" alt=""></td>
							<td>100</td>
							<td>1</td>
							<td>1</td>
							<td>
								<img src="../public/images/icon_view.gif" alt="">
								<img src="../public/images/icon_edit.gif" alt="">
								<img src="../public/images/icon_copy.gif" alt="">
								<img src="../public/images/icon_trash.gif" alt="">
							</td>
						</tr>
					</tbody>
				</table>
			<!--   ======================    -->
				

			<div class="footer">
				共执行 12 个查询，用时 0.046510 秒，Gzip 已禁用，内存占用 3.194 MB
				<br/>
				版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
			</div>
			
		</div>
</body>
</html>