<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
	<div class="left_box">
			<p class="ppp">导航菜单</p>
			<ul class="wrap_ul">
				<li>
					商品管理
					<ul>
						<li>
							<a id="goods_list" target="mainpage" href="http://localhost:8080/goodslist">商品列表</a>
						</li>
						<li>
							<a id="goods_add" target="mainpage" href="http://localhost:8080/right">添加新商品</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
				<li>
					商品管理
					<ul>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
						<li>
							<a href="javascript:;">商品列表</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="center_box">
			<img src="images/arrow_left.gif" alt="">
		</div>
</body>
</html>
<script src="js/jquery-1.11.1.js"></script>
<script src="js/page.js"></script>