<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录页面</title>
	<link rel="stylesheet" href="../public/stylesheets/login.css">
</head>
<body>
	<div class="wrap">
		<div class="top">
			<div class="logo">
				<img src="../public/images/shopex.png" alt="">
			</div>
		</div>
		<div class="center_wrap">
			<div class="logo_center">
				<img src="../public/images/ecshop-logo.png" alt="">
			</div>
			<div class="clear"></div>
			<div class="z-bd">
				<div class="login_box">
					<div class="inp one">
						<i class="iconfont">&#xe623;</i>
						<input type="text" name="username" class="username" placeholder="用户名">
					</div>
					<div class="inp two">
						<i class="iconfont">&#xe6e6;</i>
						<input type="password" name="password" class="password" placeholder="密码">
					</div>
					<div class="inp three">
						<i class="iconfont">&#xe615;</i>
						<input type="text" name="code" class="code" placeholder="验证码">
						<div class="code_img">
							
						</div>
					</div>
					<div class="inp four">
						<input type="submit" class="btn" value="登录">
					</div>
					<div class="inp five">
						<input type="checkbox" id="remember">
						<label for="remember">保存登录信息</label>
						<a href="javascript:;" class="mouseover_blue forget_pwd">忘记密码?</a>
						<a href="javascript:;" class="mouseover_blue goto_homepage">去店铺首页>></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>