<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		*{margin: 0;padding: 0;}
		html,body{
			width: 100%;
			height: 100%;
			position: relative;
		}
		.top_box{
			display: block;
			width: 100%;
			height: 118px;
		}
		.left_box{
			display: block;
			float: left;
			height: 100%;
			z-index: 3;
		}
		.bottom{
			width: 100%;
			position: absolute;
			top: 118px;
			left: 0;
			bottom: 0;
		}
		.right_r{
			position: absolute;
			left: 190px;
			top: 0;
			right: 0;
			bottom: 0;
		}
		.right_box{
			display: block;
  			width: 100%; 			
 			height: 100%;
		}
	</style>
</head>

	<iframe src="top.ejs" frameborder="0" class="top_box"></iframe>
	<div class="bottom">
		<iframe src="left.ejs" frameborder="0" class="left_box"></iframe>
		<div class="right_r">
			<iframe src="right.ejs" frameborder="0" class="right_box"></iframe>
		</div>
		
	</div>
	

</html>
<script src="../public/js/jquery-1.11.1.js"></script>
<script src="../public/js/page.js"></script>