<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
	<div class="right_box">
			<h1>
				<span class="action_span1"><a href="javascript:;">ECSHOP 管理中心</a></span>
				<span class="action_span1">- 添加新商品</span>
				<span class="help_sub"><a href="javascript:;"><img src="images/jnsy.png" alt=""></a></span>
				<span class="action_span"><a target="mainpage" href="http://localhost:8080/goodslist">商品列表</a></span>
			</h1>
			<div class="content">
				<div class="tab_div">
					<p>
						<span class="tab-front tab-back">通用信息</span>
						<span class="tab-back">详细描述</span>
						<span class="tab-back">其他信息</span>
						<span class="tab-back">商品属性</span>
						<span class="tab-back">商品相册</span>
						<span class="tab-back">关联商品</span>
						<span class="tab-back">配件</span>
						<span class="tab-back">关联文章</span>
					</p>
				</div>
			<!--   ======================    -->
				<div class="tab_body">

					<form id="frm" action="/api/add_goods" method="post" enctype="multipart/form-data">
									
					<div class="tab_box1" style="display: block;">
						<table>
							<tbody>

								
								
								<tr>
									<td class="label">商品名称:</td>
									<td>
										<input type="text" name="goods_name" style="float: left;" size="30">
										<div style="float: left;margin: 10px 0 0 5px;background: rgb(255,255,255);">
											<img src="images/color_selecter.gif" alt="">
										</div>&nbsp;
										<select name="goods_name_style" id="">
											<option value="">字体样式</option>
											<option value="strong">加粗</option>
											<option value="em">字体</option>
											<option value="u">下划线</option>
											<option value="strike">删除线</option>
										</select>
										<span class="require-field">*</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										商品货号:
									</td>
									<td>
										<input type="text" name="goods_num" size="20"><span></span><br/>
										<span>如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										商品分类:
									</td>
									<td>
										<select name="cat_id" id="">
											<option value="">请选择</option>
											<option value="">钻石</option>
											<option value="">裤子</option>
											<option value="">外套</option>
											<option value="">衬衫</option>
											<option value="">背心</option>
											<option value="">长裤</option>
											<option value="">西裤</option>
											<option value="">被子</option>
											<option value="">枕头</option>
											<option value="">传单</option>
											<option value="">帽子</option>
										</select><a href="javascript:;" class="special">添加分类</a>
										<span class="require-field">*</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										扩展分类:
									</td>
									<td>
										<input type="button" value="添加" class="button">
									</td>
								</tr>
								<tr>
									<td class="label">
										商品品牌:
									</td>
									<td>
										<select name="cat_id" id="">
											<option value="">请选择</option>
											<option value="">钻石</option>
											<option value="">裤子</option>
											<option value="">外套</option>
											<option value="">衬衫</option>
											<option value="">背心</option>
											<option value="">长裤</option>
											<option value="">西裤</option>
											<option value="">被子</option>
											<option value="">枕头</option>
											<option value="">传单</option>
											<option value="">帽子</option>
										</select><a href="javascript:;" class="special">添加品牌</a>
										<span class="require-field">*</span>
									</td>
								</tr>
								<tr>
									<td class="label">本店售价:</td>
									<td>
										<input type="text" name="goods_price" style="float: left;" value="0" size="20">
										<input type="button" value="按市场价计算" style="margin-top: 4px;margin-left: 5px">
										<span class="require-field">*</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										会员价格:
									</td>
									<td>
										注册用户
										<input type="text" value="-1" size="8">
										代销用户
										<input type="text" value="-1" size="8">
										vip
										<input type="text" value="-1" size="8">
										<br/>
										<span>会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每个等级指定一个固定价格</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										商品优惠价格:
									</td>
									<td>
										[+]优惠数量
										<input type="text" value="" size="8">
										优惠价格
										<input type="text" value="" size="8">
										<br/>
										<span>购买数量达到优惠数量时享受的优惠价格</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										市场售价:
									</td>
									<td>
										<input type="text" value="0" size="20">
										<input type="button" value="取整数">
									</td>
								</tr>
								<tr>
									<td class="label">
										虚拟销量:
									</td>
									<td>
										<input type="text" value="0" size="20">
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										赠送消费积分数:
									</td>
									<td>
										<input type="text" value="-1" size="20">
										<br/>
										<span>购买该商品时赠送消费积分数,-1表示按商品价格赠送</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										赠送等级积分数:
									</td>
									<td>
										<input type="text" value="-1" size="20">
										<br/>
										<span>购买该商品时赠送等级积分数,-1表示按商品价格赠送</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										积分购买金额:
									</td>
									<td>
										<input type="text" value="0" size="20">
										<br/>
										<span>(此处需填写金额)购买该商品时最多可以使用积分的金额</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										<input type="checkbox">
										促销价:
									</td>
									<td>
										<input type="text" value="0" size="20" disabled>
									</td>
								</tr>
								<tr>
									<td class="label">
										促销日期:
									</td>
									<td>
										<input type="text" value="2018-02-27" readonly="readonly" size="12">
										<input type="button" value="选择" class="button">
										-
										<input type="text" value="2018-03-26" readonly="readonly" size="12" >
										<input type="button" value="选择" class="button">
									</td>
								</tr>
								<tr>
									<td class="label">
										上传商品图片:
									</td>
									<td>
										<input type="file" name="goods_img" size="35">
										<img src="images/no.gif" alt="">
										<br/>
										<input type="text" size="40" value="商品缩略图外部URL">
									</td>
								</tr>
								<tr>
									<td class="label">
										上传商品缩略图:
									</td>
									<td>
										<input type="file" name="goods_img" size="35">
										<img src="images/no.gif" alt="">
										<br/>
										<input type="text" size="40" value="商品缩略图外部URL" disabled>
										<br/>
										<label for="">
											<input type="checkbox" checked="checked">
											自动生成商品缩略图
										</label>
										
									</td>
								</tr>

								
							</tbody>
						</table>
						
					</div>
					<!-- ============2=========== -->
					<div class="tab_box1">
						<img src="images/12345.png" alt="">
					</div>
					<!-- ============3=========== -->
					<div class="tab_box1">
						<table>
							<tbody>
								<tr>
									<td class="label">商品重量:</td>
									<td>
										<input type="text" name="goods_weight" style="float: left;" size="20">
										<select name="" id="" style="margin-left: 5px;">
											<option value="">千克</option>
											<option value="">克</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										商品库存数量:
									</td>
									<td>
										<input type="text" value="1" size="20">
										<br/>
										<span>库存在商品为虚货或商品存在货品时为不可编辑状态，库存数值取决于其虚货数量或货品数量</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										库存警告数量:
									</td>
									<td>
										<input type="text" value="1" size="20">
									</td>
								</tr>
								<tr>
									<td class="label">
										加入推荐:
									</td>
									<td>
										<input type="checkbox">
										精品
										<input type="checkbox">
										新品
										<input type="checkbox">
										热销
									</td>
								</tr>
								<tr>
									<td class="label">
										上架:
									</td>
									<td>
										<input type="checkbox" checked="checked">
										打勾表示允许销售，否则不允许销售。
									</td>
								</tr>
								<tr>
									<td class="label">
										能作为普通商品销售:
									</td>
									<td>
										<input type="checkbox" checked="checked">
										打勾表示能作为普通商品销售，否则只能作为配件或赠品销售。
									</td>
								</tr>
								<tr>
									<td class="label">
										能否为免运费商品:
									</td>
									<td>
										<input type="checkbox" >
										打勾表示此商品不会产生运费花销，否则按照正常运费计算。
									</td>
								</tr>
								<tr>
									<td class="label">
										商品关键词:
									</td>
									<td>
										<input type="text" size="40" >
										用空格分隔
									</td>
								</tr>
								<tr>
									<td class="label">
										商品简单描述:
									</td>
									<td>
										<textarea name="" id="" cols="40" rows="3"></textarea>
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										商家描述:
									</td>
									<td>
										<textarea name="" id="" cols="40" rows="3"></textarea><br/>
										仅供商家自己看的信息
									</td>
								</tr>
							</tbody>
							
						</table>
					</div>
					<!-- ============4=========== -->
					<div class="tab_box1">
						<table>
							<tbody>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										商品类型:
									</td>
									<td>
										<select name="" id="">
											<option value="">请选择商品类型</option>
											<option value="">书</option>
											<option value="">音乐</option>
											<option value="">电影</option>
											<option value="">手机</option>
											<option value="">笔记本电脑</option>
										</select>
										<br/>
										请选择商品的所属类型，进而完善此商品的属性
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- ==============5================ -->
					<div class="tab_box1">
						<table>
							<tbody>
								<tr>
									<td>
										[+]商品描述<input type="text" size="20">
										上传文件<input type="file" >
										<input type="text" size="40" value="或者输入外部图片链接地址">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<!-- ==============6================ -->
					<div class="tab_box1">
						<table>
							<tbody>
								<tr>
									<td>
										<img src="images/icon_search.gif" width="26" height="22" alt="">
										<select name="" id="" width="26" height="22">
											<option value="">所有分类</option>
											<option value="">钻石</option>
											<option value="">衬衫</option>
											<option value="">裤子</option>
											<option value="">外套</option>
										</select>
										<select name="" id="">
											<option value="">所有品牌</option>
											<option value="">空间大师</option>
											<option value="">溢彩年华</option>
											<option value="">圣迪奥</option>
											<option value="">韩都衣舍</option>
										</select>
										<input type="text" size="">
										<input type="button" value="搜索" class="button">
									</td>
								</tr>
								<tr>
									<th>可选商品</th>
									<th>操作</th>
									<th>跟该商品关联的商品</th>
								</tr>
								<tr>
									<td width="42%">
										<select name="source_select1" size="20" style="width:100%" ondblclick="sz1.addItem(false, 'add_link_goods', goodsId, this.form.elements['is_single'][0].checked)" multiple="true">
            							</select>
									</td>
									<td align="center">
										<p style="margin: 7px 0;">
											<input type="radio" name="is_single" value="1" checked="checked">单向关联
											<br/>
											<input type="radio" name="is_single" value="0">双向关联
										</p>
										<p style="margin: 7px 0;">
											<input type="button" value=">>" class="button">
										</p>
										<p style="margin: 7px 0;">
											<input type="button" value=">" class="button">
										</p>
										<p style="margin: 7px 0;">
											<input type="button" value="<" class="button">
										</p>
										<p style="margin: 7px 0;">
											<input type="button" value="<<" class="button">
										</p>
									</td>
									<td width="42%">
										<select name="target_select1" size="20" style="width:100%" multiple="" ondblclick="sz1.dropItem(false, 'drop_link_goods', goodsId, elements['is_single'][0].checked)">
                             			</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- ==============7================ -->
					<div class="tab_box1">
						<table>
							<tbody>
								<tr>
									<td>
										<img src="images/icon_search.gif" width="26" height="22" alt="">
										<select name="" id="" width="26" height="22">
											<option value="">所有分类</option>
											<option value="">钻石</option>
											<option value="">衬衫</option>
											<option value="">裤子</option>
											<option value="">外套</option>
										</select>
										<select name="" id="">
											<option value="">所有品牌</option>
											<option value="">空间大师</option>
											<option value="">溢彩年华</option>
											<option value="">圣迪奥</option>
											<option value="">韩都衣舍</option>
										</select>
										<input type="text" size="">
										<input type="button" value="搜索" class="button">
									</td>
								</tr>
								<tr>
									<th>可选商品</th>
									<th>操作</th>
									<th>该商品的配件</th>
								</tr>
								<tr>
									<td width="42%">
										<select name="source_select1" size="20" style="width:100%" ondblclick="sz1.addItem(false, 'add_link_goods', goodsId, this.form.elements['is_single'][0].checked)" multiple="true">
            							</select>
									</td>
									<td align="center">
										<p style="margin: 7px 0;">
											价格<br/>
											<input type="text" size="6">
										</p>
										<!-- <p style="margin: 7px 0;">
											<input type="button" value=">>" class="button">
										</p> -->
										<p style="margin: 7px 0;">
											<input type="button" value=">" class="button">
										</p>
										<p style="margin: 7px 0;">
											<input type="button" value="<" class="button">
										</p>
										<p style="margin: 7px 0;">
											<input type="button" value="<<" class="button">
										</p>
									</td>
									<td width="42%">
										<select name="target_select1" size="20" style="width:100%" multiple="" ondblclick="sz1.dropItem(false, 'drop_link_goods', goodsId, elements['is_single'][0].checked)">
                             			</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- ==============8================ -->
					<div class="tab_box1">
						<table>
							<tbody>
								<tr>
									<td>
										<img src="images/icon_search.gif" width="26" height="22" alt="">
										文章标题
										<input type="text" size="">
										<input type="button" value="搜索" class="button">
									</td>
								</tr>
								<tr>
									<th>可选文章</th>
									<th>操作</th>
									<th>跟该商品关联的文章</th>
								</tr>
								<tr>
									<td width="42%">
										<select name="source_select1" size="20" style="width:100%" ondblclick="sz1.addItem(false, 'add_link_goods', goodsId, this.form.elements['is_single'][0].checked)" multiple="true">
            							</select>
									</td>
									<td align="center">
										<p style="margin: 7px 0;">
											<input type="button" value=">>" class="button">
										</p>
										<p style="margin: 7px 0;">
											<input type="button" value=">" class="button">
										</p>
										<p style="margin: 7px 0;">
											<input type="button" value="<" class="button">
										</p>
										<p style="margin: 7px 0;">
											<input type="button" value="<<" class="button">
										</p>
									</td>
									<td width="42%">
										<select name="target_select1" size="20" style="width:100%" multiple="" ondblclick="sz1.dropItem(false, 'drop_link_goods', goodsId, elements['is_single'][0].checked)">
                             			</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>



					<div class="button_div">
						<input type="button" value="确定" class="button" onclick="addGoods()">
						<input type="reset" value="重置" class="button">
					</div>

					</form>
				</div>

			</div>

			<div class="footer">
				共执行 12 个查询，用时 0.046510 秒，Gzip 已禁用，内存占用 3.194 MB
				<br/>
				版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
			</div>
			
		</div>
</body>
</html>
<script src="js/jquery-1.11.1.js"></script>
<script src="js/page.js"></script>
<script>
	function addGoods() {
		document.getElementById("frm").submit();
	}
</script>