<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
	<div class="top_box">
		<div class="top_menu">
			<div class="logo">
				<img src="images/topLogo.png" alt="">
			</div>
			<div class="menu_list">
				<ul>
					<li>
						<a href="javascript:;">
							<img src="images/topmune_08.png" alt="">
							<span>退出</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="images/qingchu.png" alt="">
							<span>清除缓存</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="images/topmune_07.png" alt="">
							<span>关于 ECSHOP</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="images/topmune_007.png" alt="">
							<span>帮助</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="images/topmune_06.png" alt="">
							<span>查看网店</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="images/topmune_05.png" alt="">
							<span>管理员留言</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="images/topmune_04.png" alt="">
							<span>个人设置</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="images/topmune_03.png" alt="">
							<span>刷新</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="images/topmune_02.png" alt="">
							<span>记事本</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="images/topmune_01.png" alt="">
							<span>开店向导</span>
						</a>
					</li>
					<li>
						<a href="javascript:;" style="width: 102px;color: #ff0;">
							<img src="images/topmune_09.png" alt="">
							<span>更多模板堂产品</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="top_nav">
			<ul>
				<li>
					<a href="javascript:;">
						<i><img src="images/index-11_07.png" alt=""></i>
						<span>起始页</span>
					</a>
					<span class="border_r"></span>
				</li>
				<li>
					<a href="javascript:;">
						<i><img src="images/index-11_07.png" alt=""></i>
						<span>设置导航栏</span>
					</a>
					<span class="border_r"></span>
				</li>
				<li>
					<a href="javascript:;">
						<i><img src="images/index-11_07.png" alt=""></i>
						<span>商品管理</span>
						<span class="red_">34</span>
					</a>
					<span class="border_r"></span>
				</li>
				<li>
					<a href="javascript:;">
						<i><img src="images/index-11_07.png" alt=""></i>
						<span>订单管理</span>
						<span class="red_">0</span>
					</a>
					<span class="border_r"></span>
				</li>
				<li>
					<a href="javascript:;">
						<i><img src="images/index-11_07.png" alt=""></i>
						<span>广告管理</span>
						<span class="red_">0</span>
					</a>
					<span class="border_r"></span>
				</li>
				<li>
					<a href="javascript:;">
						<i><img src="images/index-11_07.png" alt=""></i>
						<span>用户评论</span>
						<span class="red_">0</span>
					</a>
					<span class="border_r"></span>
				</li>
				<li>
					<a href="javascript:;">
						<i></i>
						用户评论
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i></i>
						商品列表
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i></i>
						会员列表
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i></i>
						商店设置
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i></i>
						移动版
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i></i>
						服务市场
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i></i>
						商品回收站
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i></i>
						添加新商品
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>